/*

THIS SHEET IS FOR SITEWIDE STYLES RELATED TO:

- Layout
- Applying your color definitions from colors.scss
- Applying your typography definitions from type.scss

*/

/* ::: GENERAL ::::::::::::::::::::::::::::::::: */

	// Bourbon Neat Grid Settings -- NOT SURE IF THESE ARE NECESSARY
	.row {
		padding: 0 4%; // default padding to keep the content from touching the edge of the site (this may cause issues, keep an eye on it)
	}

	// Customize the look of selected text -- feel free to change the colors
	::-moz-selection { // Mozilla
       background-color: $black;
       color: $white;
	}
	::selection { // Safari
       background-color: $black;
       color: $white;
	}
	


/* ::: SITE HEADER ::::::::::::::::::::::::::::::::: */

	.site-header {
		h1 { // this h1 is just for SEO and keeping a good HTML5 document model
			// uncomment the following line to hide
			// @include hide(); 
		}
		.site-title {

		}
	}
	/* Yo-logo. Yolo-go. Upload one in ghost/settings/ */
	.blog-logo {
	  text-decoration: none;
	  color: white;
	  	img {
		  max-height: 120px;
		  width: auto;
		  max-width: 250px;
		  line-height: 0;
		}
	}



/* ::: MAIN NAV ::::::::::::::::::::::::::::::::: */
	
	.nav-menu {
		a {
			text-decoration: none;
			//display: inline-block;
			line-height: 1.8em;
			padding: 1em 1em;
			&:link, &:visited {
				// style the links
			}
			&:hover, &:active, &:focus {
				// style the links
			}
		}
		/* Down States */
		.current_page_item a {
		}
	}

	.nav-menu li ul.sub-menu,
      .nav-menu li ul.children {
        margin-top: 0;
        border: 1px solid #ccc;
        border-top: 0;
        position: absolute;
        visibility: hidden;
        z-index: 8999;
        /* highlight sub-menu current page */ }
        .nav-menu li ul.sub-menu li,
        .nav-menu li ul.children li {
          /*
          if you need to go deeper, go nuts
          just remember deeper menus suck
          for usability. k, bai.
          */ }
          .nav-menu li ul.sub-menu li a,
          .nav-menu li ul.children li a {
            padding-left: 10px;
            border-right: 0;
            display: block;
            width: 180px;
            border-bottom: 1px solid #ccc; }
          .nav-menu li ul.sub-menu li:last-child a,
          .nav-menu li ul.children li:last-child a {
            border-bottom: 0; }
          .nav-menu li ul.sub-menu li ul,
          .nav-menu li ul.children li ul {
            top: 0;
            left: 100%; }
      .nav-menu li:hover > ul {
        top: auto;
        visibility: visible; }



/* ::: COMMENTS ::::::::::::::::::::::::::::::::: */
	
	/*--- If you use the Facebook comments plugin this makes it responsive, if not trash this---*/
	/*--- http://wordpress.org/plugins/facebook-comments-plugin/ ---*/
	.fb-comments, .fb-comments span, .fb-comments iframe {
		width: 100% !important;
	}
	.fb-comments { margin-top: 2em; }

	
	
/* ::: SIDEBAR: MAIN ::::::::::::::::::::::::::::::::: */

	.sidebar-main {
		padding-bottom: 3em;
		ul {
			list-style-position: inside;
		}
	}
	
	

/* ::: FOOTER ::::::::::::::::::::::::::::::::: */

	.footer {
		clear: both;
		
		/* Credit */
		.credit {
			h1 {
			font-size: 1em;
			font-weight: normal;
			}
		}
	}




